<form method="POST" action="/news">
  <div class="mb-3">
    <label for="search-input" class="form-label">NHAP TU KHOA</label>
    <input
     name="q"
      type="text"
      class="form-control"
      placeholder="nhap tu khoa"
    />
   
  <button type="submit" class="btn btn-primary">tim kiem</button>
</form>