<form method="POST" action="/courses/create/store">
  <div class="mb-3">
    <label for="name" class="form-label">Ten khoa hoc</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
    />
    <label for="description" class="form-label">Mo ta khoa hoc</label>
    <input
      type="text"
      class="form-control"
      id="description"
      name="description"
    />
    <label for="images" class="form-label">Images</label>
    <input
      type="text"
      class="form-control"
      id="images"
      name="images"
    />
  <button type="submit" class="btn btn-primary">Them khoa hoc</button>
</form>
